<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Running Tracking app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="user" class="dataHeader">
    <ion-grid class="time">
      <ion-row>
        <ion-col>
          <b [chronometer]="chronometer"></b>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="time">
      <ion-row>
        <ion-col>
          Time
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>{{ calories }}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>{{ avgrating }}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>{{ distanceInMeters ? distanceInMeters : 00 }} km/h</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>Kcal</ion-text>
        </ion-col>

        <ion-col>
          <ion-text>Avg. Resting</ion-text>
        </ion-col>

        <ion-col>
          <ion-text>Distance</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>

  <div #map id="map" [hidden]="!user"></div>

  <div *ngIf="user">
    <ion-button expand="block" (click)="startTracking()" *ngIf="!isTracking">
      <ion-icon name="locate" slot="start"></ion-icon>
      Start Tracking
    </ion-button>

    <ion-button expand="block" (click)="stopTracking()" *ngIf="isTracking">
      <ion-icon name="locate" slot="start"></ion-icon>
      Stop Tracking
    </ion-button>
  </div>
</ion-content>
